# Ignore python byte code
*.pyc

# Ignore data directory
data
ood
test-data
masks

# Ignore catkin build
src/catkin_ws/build
src/catkin_ws/devel
src/catkin_ws/.catkin_workspace

# Ignore gazebo models
.gazebo_models
trained_models

# Ignore Weights and Biases Meta Data
wandb
