# Ignore python byte code
*.pyc

# Ignore data directory
data
ood
test-data

# Ignore catkin build
src/catkin_ws/build
src/catkin_ws/devel
src/catkin_ws/.catkin_workspace

# Ignore gazebo models
.gazebo_models